@page "/mineindkob"
@using Blazored.LocalStorage
@using Core
@using MiniProjektGenbrug.Services.Interfaces
@inject IUserService userService
@inject IProductService productService
@inject NavigationManager navMan

@if (_buyHistory == null)
{
    <p><i>...loading buy history</i></p>
}
else
{
    <div class="mine-indkob-container">
        <h2>Mine indkøb</h2>

        @foreach (var p in _buyHistory)
        {
            <div class="indkob-item">
                <div class="product-info">
                    <h3>@p.Productname</h3>
                    <p>@p.Price</p>
                    <p>Lokale: @p.RoomName</p>
                    <p>@p.Category, @p.Color, @p.Size</p>
                    <p>@p.Description</p>
                </div>
                <div class="purchase-status">
                    <p>Dato: 29/04</p>
                    <p>Status: @p.Status</p>
                </div>
            </div>
        }
    </div>
}



@code{
    User? currentUser;
    List<Product> _buyHistory;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await userService.GetUserLoggedIn();
        if (currentUser == null)
        {
            navMan.NavigateTo("login");
        }
        else
        {
            _buyHistory = await productService.GetBuyHistoryByUserId(currentUser.id);
        }
    }


}