@page "/mineannoncer"
@using Blazored.LocalStorage
@using Core
@using MiniProjektGenbrug.Services.Interfaces
@inject IUserService userService
@inject NavigationManager navMan
@inject ILocalStorageService localStorage
@inject IProductService productService

<PageTitle>Dine Annoncer</PageTitle>

@if (_dineAnnoncer == null)
{
    <p><i>...loading dine annoncer</i></p>
}
else
{
    <button class="Tilføj"><span>Tilføj ny vare</span></button>
    <div class="Mineannoncer">
        @foreach (var annonce in _dineAnnoncer)
        {
                <div class="indholdprvare">
                    <div class="Divpic">
                        <img src="@annonce.Picture" alt="Picture of Item"/>
                    </div>
                    <div class="Tekstdiv">
                        <span>@annonce.Productname</span>
                        <span>Status: @annonce.Status</span>
                        <span>@annonce.Category</span>
                        <span>@annonce.Color</span>
                        <span>@annonce.Size</span>
                        <span>@annonce.Description</span>
                        <span>@annonce.Price,- DKK</span>
                        <div id="knapper">
                        <button id="RedigereKnap">Rediger</button>
                        <button id="SletKnap" @onclick="() => DeleteAnnonce(annonce.id)">Slet</button>
                        </div>
                    </div>
                </div>
        }
        </div>
}


@code {
    
    User? currentUser;
    List<Product>? _dineAnnoncer;

    protected override async Task OnInitializedAsync()
    {
        // Test kode
        var theUser = await userService.GetUserById(1);
        var theDataSavedInLocalstorage = new User()
        {
            id = theUser.id,
            Username = theUser.Username,
            Role = theUser.Role
        };
        await localStorage.SetItemAsync("user",theDataSavedInLocalstorage);
        //
        currentUser = await userService.GetUserLoggedIn();
        if (currentUser == null)
        {
            navMan.NavigateTo("login");
        }
        
        // Test kode, giver alle produkter ikke kun brugers !!!!!!
        _dineAnnoncer = await productService.GetAllProducts();
    }

    private void DeleteAnnonce(int id)
    {
        //--------------------------
        // Kode til at slette i bruger collection
        //--------------------------
        
        productService.DeleteProductById(id);
        _dineAnnoncer.RemoveAll(x => x.id == id);
        StateHasChanged();
    }

}