@page "/mortenstestpage"
@using Core
@using MiniProjektGenbrug.Services.Interfaces
@inject IRoomService RoomService

<h3>MortensTestPage</h3>

@if (rooms == null)
{
    <p><i>...loading all rooms</i></p>
}
else
{
    <ul>
        @foreach (var room in rooms)
        {
            <li>@room.id - @room.Name - @room.Staffing - @room.OpeningHour.TimeOfDay - @room.ClosingHour.TimeOfDay</li>
        }
    </ul>
}


@code {
    List<Room> rooms;

    protected override async Task OnInitializedAsync()
    {
        rooms = await RoomService.GetRooms();
    }

}